<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Redirection</title>

    <meta http-equiv="refresh" content="2;url=/dashboard/">

    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }

        .box {
            padding: 20px;
            display: inline-block;
            background: #f1f1f1;
            border-radius: 10px;
        }
    </style>
</head>

<body>

<div class="box">
    <h2>Connexion réussie</h2>
    <p>Redirection vers le dashboard...</p>
</div>

</body>
</html>