django
os
pandas
plotly

dash
dash-core-components
dash-html-components
dash-table

django-plotly-dash
dpd_static_support

psycopg2-binary

gunicorn
whitenoise

django-environ
dj-database-url

django-crispy-forms
crispy-bootstrap4

setuptools
wheel